#root {
  margin: 0;
  text-align: center;
}

.page {
  min-height: 100vh;
  margin: 10vh 0 0 0;
  background-image: var(--gradient-secondary);
  color: white;
}

.text-content {
  max-width: 1000px;
  margin: 6rem auto;
}

.subheading {
  font-family: "interstate";
  font-weight: 500;
  font-size: 1.75rem;
  color: var(--purple-1);
}

.page-content {
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
  color: white;
}

.bold {
  font-weight: 800;
  font-style: normal;
}

.italic {
  font-style: italic;
}

.checkbox-wrapper {
  margin: 0.5rem 0 1.5rem 0;
  padding: 1rem;
  border-radius: 3px;
  background-color: var(--purple-3);
  box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  cursor: pointer;
}

.checkbox-wrapper > label {
  margin-top: 0;
  cursor: pointer;
}

/* general mobile styling */
@media only screen and (max-width: 900px) and (min-height: 300px) {
  .text-content {
    margin: 1rem 0;
    padding: 1rem;
  }

  .subheading {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}