#root {
  margin: 0;
  text-align: center;
}

.page {
  min-height: 100vh;
  margin: 10vh 0 0 0;
  background-image: var(--gradient-secondary);
}

.text-content {
  max-width: 1000px;
  margin: 6rem auto;
}

.bold {
  font-weight: 800;
  font-style: normal;
}

.italic {
  font-style: italic;
}

.checkbox-wrapper {
  margin: 0.5rem 0 1.5rem 0;
  padding: 1rem;
  border: 2px solid rgb(58, 51, 147);
  border-radius: 0.75rem;
  display: inline-block;
}

/* general mobile styling */
@media only screen and (max-width: 900px) and (min-height: 300px) {
  .text-content {
    margin: 1rem 0;
    padding: 1rem;
  }
}