@import url("https://use.typekit.net/bqe4bat.css");

:root {
  --max-width: 800px;

  font-family: interstate, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--purple-4);
  background-color: var(--purple-4);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --red: #ef0b2e;
  --purple-1: #aabeff;
  --purple-2: #7772ff;
  --purple-3: #433FCD;
  --purple-4: #1d195d;
  --purple-5: #0f0c3d;
  
  --gradient-primary: radial-gradient(circle, #3C38C6 35%, #262A9C 100%);
  --gradient-secondary: linear-gradient(180deg, #2B2784, rgba(29, 25, 93, 1));
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--purple-1);
  text-decoration: inherit;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
a:hover {
  color: var(--purple-1);
}

a:active {
  color: var(--purple-4);
}

body {
  margin: 0;
  min-width: 320px;
}

h1 {
  font-family: "alternate-gothic-no-1-d", sans-serif;
  font-size: 4rem;
  line-height: 4.25rem;
  cursor: default;
  text-transform: uppercase;
}

h2 {
  font-size: clamp(12px, 5vmax, 100px);
  line-height: clamp(22px, 7vmax, 140px);
}

h3 {
  font-size: clamp(12px, 3vmax, 75px);
  line-height: clamp(18px, 3.5vmax, 90px);
}

h6 {
  color: var(--purple-3);
}

p {
  font-size: 1.25rem;
  line-height: 2rem;
  text-align: left;
  font-family: "interstate", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: white;
  cursor: default;
}

li {
  font-size: 1.25rem;
  line-height: 2rem;
  text-align: left;
  font-family: "interstate", sans-serif;
  font-weight: 400;
  font-style: normal;
}

ol {
  margin-bottom: 2rem;
}

ol > li {
  margin-top: 1rem;
}

ol > li > ul > li {
  margin-top: 1rem;
}

button {
  background-color: var(--red);
  border: 1px solid transparent;
  padding: 0.5rem 2rem;
  font-family: "alternate-gothic-no-1-d", sans-serif;
  font-size: 2.25rem;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--purple-2);
}
button:focus,
button:focus-visible {
  outline: 2px auto white;
}

::selection {
  background: var(--purple-2);
}

form {
  width: 80%;
  max-width: 400px;
  min-height: 360px;
  margin: 10vh auto;
  padding: 2rem;
  border: 5px solid rgb(58, 51, 147);
  border-radius: 1rem;
  box-shadow: 
    1px 0.4px 2.2px rgba(0, 0, 0, 0.014), 
    2.5px 0.9px 5.3px rgba(0, 0, 0, 0.02), 
    4.6px 1.8px 10px rgba(0, 0, 0, 0.025), 
    8.3px 3.1px 17.9px rgba(0, 0, 0, 0.03), 
    15.5px 5.8px 33.4px rgba(0, 0, 0, 0.036), 
    37px 14px 80px rgba(0, 0, 0, 0.05)
  ;
  text-align: left;
}

label {
  display: block;
  margin-top: 1rem;
  font-family: Interstate;
  font-size: 1.2rem;
  color: var(--purple-3);
  text-align: left;
}

input, textarea {
  width: 100%;
  margin: 0.5rem 0 0 0;
  padding: 1rem;
  border: 2px solid rgb(58, 51, 147);
  border-radius: 0.75rem;
  background-color: white;
  font-family: Interstate;
  font-size: 1.2rem;
  color: var(--purple-3);
  transition: all 150ms ease-in-out;
}

input[type="submit"]:hover {
  background-color: var(--purple-2);
  color: white;
}

input[type="submit"]:active {
  background-color: var(--purple-3);
}

textarea:focus, input:focus{
  outline: none;
  border: 3px solid var(--purple-2);
}

div[role="alert"] {
  font-size: 0.85rem;
  color: var(--red);
}

input[type="checkbox"] {
  display: block;
}

/* general mobile styling */
@media only screen and (max-width: 900px) and (min-height: 300px) {
  p, li {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
  button {
    padding: 0.25rem 3.5rem;
    font-size: 1.75rem;
  }
}