.wrapper {
  padding: 5vh 0;
  background: url(../../assets/nj-bridge.jpg), radial-gradient(circle, rgba(58,51,147,1) 35%, rgba(29,25,93,1) 100%);
  background-size: cover;
  background-blend-mode: overlay;
}

.logo {
  width: 70vw;
  max-width: 600px;
  margin: auto;
}