.mission {
  padding: 2.5rem 5rem;
  background-color: var(--purple-4);
  font-size: 1.25rem;
  line-height: 2rem;
}

.mission.second {
  margin-top: 5rem;
  background-color: var(--purple-3);
}

.list {
  margin-top: 5rem;
}

.list > div {
  text-align: start;
  font-size: 1.5rem;
  font-weight: 700;
}

.list ol, .list ul {
  color: var(--purple-1);
}

/* general mobile styling */
@media only screen and (max-width: 900px) and (min-height: 300px) {
  .content {
    padding: 1rem;
  }

  .mission {
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.75rem;
  }

  .mission.second {
    margin-top: 2.5rem;
  }

  .list {
    margin-top: 2.5rem;
  }

  .list > div {
    font-size: 1.25rem;
    text-wrap: balance;
  }
}