.wrapper {
  min-height: 85vh;
  display: grid;
  grid-template: 100% / 100%;
}

.content {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  padding: 5rem;
  background-image: var(--gradient-primary);
  text-align: center;
  color: white;
}

.content > h1 {
  margin: 0 0 1rem 0;
  font-size: 6rem;
  line-height: 5rem;
}

.content > h6 {
  margin: 0 0 2.5rem 0;
  font-size: 1.5rem;
  color: var(--purple-2);
}

/* general mobile styling */
@media only screen and (max-width: 900px) and (min-height: 300px) {
  .wrapper {
    min-height: 95vh;
  }

  .content > h1 {
    margin: 1rem;
    font-size: 20vmin;
  }

  .content > h6 {
    margin: 2rem 0;
    font-size: 6vmin;
  }
}